.titleWrapper {
    text-align: center;
}
.title {
    display: inline-block;
}

.searchWrapper {
    text-align: center;
}
.searchForm {
    display: inline-block;
}

.search_field {
    width: 300px;
    margin-right: 15px;
}